

body {

    background-color: coral; /*Color de fondo general*/

}

header {
text-align: center;
border: 0px;
padding: 0px;
background-color: lightblue;

}

main {
    font-family: Arial, sans-serif; /*Fuente del texto*/
    font-size: 18px; /*Tamaño de la fuente*/
    color: black; /*Color del texto*/
}


h2 {
    text-align: center;
    color: darkblue;
}

td, th {
    padding: 10px; 
}


#agenda {

    
    
  /* Propiedades que afectan a toda la tabla */
  border: 1px solid black; /* Borde de la tabla */
  padding-left: 20px;
  width: 40%; /* Ancho de la tabla */
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse; /* Colapsa los bordes de celdas adyacentes en uno solo */
  margin: 20px auto; /* Centra la tabla y le da un margen superior/inferior */
}